---
import { Dashboard, Header, SettingsPanel } from "../components";
import { Layout } from "../components/Layout";
---

<Layout>
	<div class="w-full p-">
		<Header client:load />
		<div class="flex p-10 h-full w-full -mt-20">
			<Dashboard client:load />
		</div>
	</div>
	<SettingsPanel client:load />
</Layout>
